/*VARIABLES*/
@colorBlack: #09132c;
@colorHighlight: #f3f1f5;
@colorPrimary: #5f50bf;
@colorPrimarySoft: #9a53de; //b089d8
@colorTertiary: #fdce47;
@margin-x: clamp(2rem, 10vw, 8rem);

/*STYLE*/
nav {
  margin: 0 @margin-x 60px @margin-x;
}
section {
  margin: 60px @margin-x;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* FONTS DESKTOP */
.txt-subtile {
  color: @colorBlack;
  font-family: 'Work Sans';
  font-size: clamp(1rem, 5vw, 1.5rem);
}
.txt-small {
  font-family: 'Work Sans';
  font-weight: 300;
  font-size: 15px;
}
/* FORMS */
.jm-shadow-box {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* CARD AND IMAGES */
.jm-card-border {
  border: solid 1px @colorPrimarySoft;
  border-radius: 18px;
  padding: 1rem 1rem;
}

.jm-img-cover {
  object-fit: cover;
  height: auto;
  aspect-ratio: 4 / 3;
}

.jm-highlight-card {
  cursor: pointer;
  background-color: white;
  box-shadow: rgba(69, 62, 62, 0.2) 0px 4px 15px;

  &:hover {
    img {
      filter: brightness(1.2);
      transition: filter 0.3s ease;
    }
  }
  &:hover::after {
    content: 'Découvrir notre portfolio';
    text-align: center;
    background: @colorTertiary;
    padding: 10px;
    transition: opacity 0.3s ease;
    color: @colorBlack;
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 1rem;
  }
}

/* PROGRESS BAR */
progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 10em;
  background: @colorHighlight;
}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: @colorHighlight;
}
progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: @colorPrimarySoft;
}
progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: @colorPrimarySoft;
}
